.color-background{
    
    padding: 2px;
    margin-bottom: 5px;
}
.table-bookings {
    
}
.table-bookings tr th{
    padding: 0px 10px;
    text-align: center;
    border: 1px black solid;
    background-color: #D7641E;
    color: #FFFFFF;
}
.table-bookings tr td{
    padding: 4px 10px;
    text-align: center;
    border: 1px black solid;
}
.table-bookings tr td button{
    

}